* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #05cee8;
    font-weight: 600;
}

a:hover {
    color: #05cee8;
}

.title {
    width: 100%;
    display: flex;
    height: 50px;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    font-weight: 900;
    padding: 0;
    color: #D69F04;
    letter-spacing: 60px;
    background: #121212;
}

.title .ma {
    margin: 0px;
    padding: 0px;
    text-align: center;
    height: 50px;
    position: absolute;
    top: 0;
    z-index: 10;
    left: calc(50% - 480px);
}

.title .is {
    margin: 0px;
    padding: 0px;
    text-align: center;
    height: 50px;
    position: absolute;
    top: 0;
    z-index: 10;
    right: calc(50% - 520px);
}

canvas {
    width: 500px;
    height: 100%;
    position: absolute;
    left: calc(50% - 250px);
    top: 0;
    background: transparent;
    z-index: 12;
    pointer-events: none;
}

.title .logo {
    position: absolute;
    top: 16px;
    left: calc(50% - 60px);
    width: 120px;
    height: 120px; 
    border-radius: 60px;
    z-index: 10;
}

.triangle {
    width: 360px;
    height: 175px;
    background: linear-gradient(90deg, #242424, #121212);
    /* background-color: #121212; */
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
    pointer-events: none;
}

@keyframes glowAnimationYellow {
    0% {
        filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.2));
    }
    50% {
        filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.6));
    }
    100% {
        filter: drop-shadow(0px 0px 0px rgba(214, 159, 4, 0.2));
    }
}

@keyframes glowAnimationRed {
    0% {
        filter: drop-shadow(0px 0px 0px rgba(255, 45, 45, 0.2));
    }
    50% {
        filter: drop-shadow(0px 0px 10px rgba(255, 45, 45, 0.8));
    }
    100% {
        filter: drop-shadow(0px 0px 0px rgba(255, 45, 45, 0.2));
    }
}

.triangle-border {
    width: 0;
    height: 0;
    border-left: 225px solid transparent;
    border-right: 195px solid transparent;
    border-top: 175px solid #ff2d2d;
    position: absolute;
    top: 0;
    left: calc(50% - 15px);
    transform: translateX(-50%);
    z-index: 9;
    pointer-events: none;
    animation: glowAnimationRed 1s infinite;
}

.triangle-outter {
    width: 600px;
    height: 180px;
    background-color: #121212;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 8;
    pointer-events: none;
}

.triangle-outter-border {
    width: 480px;
    height: 120px;
    background-color: rgba(20,20,20, 0.8);
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 7;
    pointer-events: none;
}

.shadow {
    display: flex;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 20px;
    color: #D69F04;
    background-color: rgba(20,20,20, 0.8);
    z-index: 6;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #292929;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

body, html {
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #121212;
    font-weight: 600;
    color: #D69F04;
    width: 100%;
    height: 30px;
    z-index: 20;
    justify-content: center;
    align-items: center;
    letter-spacing: 20px;
    font-size: 12px;
}

.chat-container {
    display: flex;
    position: absolute;
    top: 50px;
    width: 100%;
    height: calc(100% - 80px);
    flex-grow: 1;
    overflow: hidden;
    background-color: transparent;
    z-index: 5;
}

#chat-history {
    width: 50%;
    height: calc(100% - 10px);
    overflow-y: auto;
    font-size: 14px;
    white-space: pre-wrap;
    direction: rtl;
    text-align: left;
    padding: 0;
    border-radius: 8px;

    padding-right: 20px;
    padding-left: 10px;
    padding-top: 140px;
    background-color: transparent;   
    gap: 10px;
    display: flex;
    flex-direction: column;
}

#chat-history::-webkit-scrollbar {
    width: 0px;
}

#chat-history > * {
    align-self: flex-end;
    direction: ltr;
    margin: 0;
}

.scroll-buttons {
    position: fixed;
    height: calc(100% - 240px);
    top: 200px;
    left: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    transition: opacity 0.3s ease;
    opacity: 1;
}

.hidden {
    opacity: 0;
    display: none;
}

.scroll-button {
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    background-color: #ff9800;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.2s;
}
.scroll-button:hover {
    background-color: #e68900;
    transform: scale(1.1);
}

.user-message {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    word-wrap: break-word;
    color: #05E8DD;
    padding: 10px;
    background-color: rgba(22, 22, 22, 0.9);
    margin: 0 !important;
}

.message-content {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.ai-message {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    color: #D69F04;
    padding: 10px;
    background-color: rgba(22, 22, 22, 0.9);
    margin: 0 !important;

    word-wrap: break-word;
    overflow-wrap: anywhere;
    white-space: normal;
}

.welcome-message {
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    color: #D69F04;
    padding: 10px;
    margin: 0 !important;
    background-color: #161616;

    word-wrap: break-word;
    overflow-wrap: anywhere;
    white-space: normal;
}

img {
    max-width: calc(100% - 20px);
}

.message-buttons {
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 5px;
    margin-top: 10px;
}

.copy-btn, .edit-btn, .collapse-btn {
    display: flex;
    align-self: flex-end !important;
    width: 20px;
    height: 20px;
    gap: 5px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 14px;
    color: #666;
}

.copy-btn:hover, .edit-btn:hover {
    color: #000;
}

.tool-box {
    position: absolute;
    right: 0;
    top: 30px;
    display: none;
    width: 50%;
    height: 100px;
    z-index: 10;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    padding: 10px;
}

.tool-box .tool-line{
    display: flex;
    flex-direction: row;
}

.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #D69F04;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
    position: relative; /* Positioning for tooltip */
}

.button:hover {
    background-color: #b17c00; /* Darker shade on hover */
}

.tooltip {
    visibility: hidden; /* Initially hide the tooltip */
    width: fit-content; /* Width of the tooltip */
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute; /* Position relative to the button */
    top: 125%; /* Position above the button */
    left: 50%;
    margin-left: -40px; /* Center the tooltip */
    opacity: 0; /* Hide tooltip */
    transition: opacity 0.3s;
    display: flex;
    font-size: 12px;
    z-index: 10;
}

.button:hover .tooltip {
    visibility: visible; /* Show tooltip on hover */
    opacity: 1; /* Make tooltip fully visible */
}

#input-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* background-color: rgb(66, 66, 66, 0.8);  */
    margin: 0;
    padding: 140px 10px 10px 20px;
}

#input-container form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#user_input {
    flex: 1;
    width: 100%;
    font-size: 14px;
    color: #e0e0e0;
    resize: none;
    overflow-y: auto;
    outline: none;
    border: none;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    align-self: flex-end;
    background-color: rgb(66, 66, 66, 0.8);
}

#user_input:focus {
    border: none;
    outline: none;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 150px;
    height: auto;
    animation: glowAnimationYellow 2s infinite;
}

.sidebar {
    display: flex;
    position: fixed;
    flex-direction: column;
    left: -50%;
    top: 50px;
    width: 50%;
    height: calc(100% - 30px);
    background-color: #1e1e1e;
    color: white;
    overflow-y: auto;
    transition: left 0.3s ease-in-out;
    padding: 0px;
    z-index: 6;
}

.sidebar.open {
    left: 0;
}

.sidebar h3 {
    text-align: left;
    margin: 10px;
    color: #D69F04;
    text-transform: uppercase; /* Torna o texto em maiúsculas */
    letter-spacing: 6px; /* Adiciona 6 pixels de espaço entre as letras */
}

#workflow-container {
    position: fixed;
    width: 50%;
    top: 150px;
    height: calc(100% - 150px - 80px);
}

.workflow-list {
    width: 100%;
    overflow-y: auto;
    height: calc(100% - 40px);
}

.workflow-list::-webkit-scrollbar {
    width: 0px;
}

.workflow-list li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #444;
    gap: 20px;
}

.workflow-list li:hover {
    background-color: #333;
}

.workflow-list span {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.remove-icon,
.pin-icon {
    cursor: pointer;
    margin-left: 10px;
    color: #888; /* Gray for icons */
}

.remove-icon:hover {
    color: #ff2d2d; /* Red on hover for remove icon */
}

.pin-icon:hover {
    color: #D69F04; /* Yellow on hover for pin icon */
}

.toggle-btn {
    position: fixed;
    left: 10px;
    top: 10px;
    background-color: #1e1e1e; /* Red button background */
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    z-index: 12;
    border-radius: 5px;
}

.toggle-btn:hover {
    background-color: #383838; /* Lighter red on hover */
}

.user-btn {
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: #1e1e1e; /* Red button background */
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    z-index: 12;
    border-radius: 5px;
}

.user-btn:hover {
    background-color: #383838; /* Lighter red on hover */
}

#model-container {
    position: fixed;
    width: 50%;
    bottom: 50px;
}

#model-list {
    width: 100%;
}

.model-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #444; /* Dark border */
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #2c2c2c; /* Dark background */
}

.model-item span {
    flex: 1;
    margin-right: 10px;
    color: #e0e0e0; /* Light text for model items */
}

.model-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 0;
    margin: 0;
}

.model-btns {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.model-btns button {
    cursor: pointer;
    background-color: #2c2c2c; /* Dark background */
    border: 0;
}

.workflow-btn {
    position: fixed;
    bottom: 40px;
    width: 50%;
    color: black;
    border: none;
    padding: 5px 10px;
    margin-top: 20px;
}

.model-btn {
    width: 100%;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 20px;
}

.ylw {
    background-color: #D69F04;
}

.red {
    background-color: #ff2d2d;
}

.ylw:hover {
    background-color: #FADF74; /* Lighter yellow on hover */
}

.red:hover {
    background-color: #ff6464; /* Lighter yellow on hover */
}

.glowing-bar {
    height: 100%;
    width: 2px; 
    position: absolute;
    top: 125px;
    left: calc(50% - 1px);
    background-color: #e7e7e7; 
    overflow: hidden;
    z-index: 12;
    /* box-shadow: 0px 0px 40px 20px rgb(211, 211, 211); */
    /* box-shadow: 0 0 40px #cfd6dd, 0 0 80px #f7f7f7; */
    pointer-events: none;
    /* animation: pulseBar 0.2s 1; */
    opacity: 0;
}

.glowing {
    height: 100%;
    width: 0px; 
    position: absolute;
    top: 140px;
    left: calc(50% - 3px);
    background-color: #00b5ec; 
    overflow: hidden;
    z-index: 10;
    box-shadow: 0px 0px 40px 10px #05cee8;
    /* animation: pulseGlow 0.2s 1; */
    opacity: 0;
}

@keyframes pulseBar {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    55% {
        opacity: 1;
    }
    56% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes pulseGlow {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.0;
    }
}

.code-block 
{
    display: flex;
    flex-direction: column;
    justify-content: start;    
    margin: 10px;
    padding: 0;
    background-color: #1e1e1e;
    border-radius: 5px;
    gap: 0 !important;
}

.code-block code {
    display: flex;
    flex-direction: column;
    justify-content: start;   
    width: 100%;
    margin: 0;
    padding: 0px;
    gap: 0 !important;
}

pre {
    white-space: pre-wrap;   /* Preserves whitespace but allows line wrapping */
    word-wrap: break-word;    /* Ensures long words break properly */
    overflow-wrap: break-word; /* Extra support for word breaking */
}

.code-block .language {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    color: #ff2d2d;
    background-color: #1A1A1A;
    padding: 6px 6px 0px 6px;
}

.code-block .code {
    width: 100%;
    color: green;
    padding: 10px;
}


.sky {
    position: absolute;
    top: 60px;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: transparent;
}


.Cloud {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKQAAABgCAYAAACTzNnjAAAFCklEQVR42u3d34uVRRjA8YMsEi0iSwhdRBGhSJgZiNRFIkWhQVEXBipKUVBBLCF6k0h4UxFkBLq4QT/Qiyi80EgxCjXMWqOMtqy0bBNja92yXatN3c3pGc9sHU/v+X3emWfe93vx+QN23u+e95x5Z94pmNWFQo5NEytErzgoBsSIOCf+FqbEBTEhzophcVTsFxvFEjE152PZHGMukbcB6BAPij0uqgtl0bXCBvyjeFPcS2wEWc0y0ec++Ywnf7rwbyc8grQ6RY8Y9RhhJT+Jde4TmghzFuR08bo4ryDEpE/N58QUYsx+kFPcD4yzCkMsZz+1uwkyu0HeKYYiCLHcN2I2QWYnSPudbHubfy37NuFu4wQZeZD2k2Uw4hDLHRZdBBnnH3K/5ykcX86IeQQZl6civ0XXYv/RlhJkHLZkOMTypz7dBKnbyzmJsfTZeTdB6vRszmIsjXI5QeryWMa/M9ZinzjdTJA63CLGcxzjpD/ElQQZfq3iKDFe8lSHIAPqI8L/6SHIMB4nvorTQQsI0v+teoz4KjpBkH7tIrqaNhCkH9cnbK5C8q/uywiSHzKabCLIdM3K+QR4o8YysfVWcZDvElnD1hNkOi5XuilLu5MlOyzni3vESnGfWCRuIMjm1zgSWPM7GWvNXdonXkdM8Q0dCwmytu8Iy/vK9B3iRoJMnghnqifc8jb7yXkXQf5nLWGo2WR2HUGuLrxPDKq25D6d9yBPE4I6/e6rVO6CnMpkuFq/eLmFKwtyMRde/dOg2XkKkvlH/X5P9ZNSWZBvcMGjMJza6iJlQe7nYkfjozwE+TkXOiprsx7kES5yVOzLYK/IcpA/cJGj806Wg/yaCxzlzsersxpkPxc4SruzGuQBLm603yU7DPOQUOSJWIK0E6j2lcvPm+JJVp+674oDbiFuv5t/fEXs5cJG65DmIO3KY3vG3yCLbXO1N1xVkB3uWfQQFye3rtUS5DN1bC5C9j0cOki7XOwUFwJOb6gg7TmCW1lMizI7QwQ5nW2qqGCv7yDtwsxfGXhU0OczyKvECIOOKvb5CnKa2+TDoKOat3wFyaIH1ONFH0H2MNCo00NpBzmXR39owIy0gzzOIKNOv6X9LHsZg4wGp3xsM/ZMoUfF3aaZ4++qBDnIIKMNzrsHKb11Lb6oEORtDCRSYB81f+vWxzYUJBv2kTYb5vx6gzzHgMHTjsUXagV5BwMFzz78d5NYQpDbGCAEcOzissaEIL9kcBDIx0lBsrwMIW0uD3KcQUHgqaEFpUGyLQGhnSgNkgGBBg8QJDQ5Phkky82g5bvkNQXDscDQY6MNcpiBgBL9NsjDDAS0LPq1Qb7EQECJicLFSUkGAkpMLgMaYzCgKci3GQxomPqZDPImBgMa9uOULifnDWcI7VRpkIsYEAR2sHwX2GcMCgJak/QKPh4lIsgcpOhM2iv7JIODAPqqvY7vPQYInlf6zKsWpN2iOMBAwZMD9bzSudPwvh+kr3gofJ0vve/ikxIp36pXNHosiD2j5gMGD2ksyG3lJK917qc5A4l2eNW04Wi5OaZ41DADilZu0xtMmw/fXCV+ZnDRoFFTfBdpaudlLxVfsXMRNYy7W3SH8XSAu/01bo8s/kL8xQWAM+JC7DIeDnCvZqZ4RGxxi3/3iUPOJ+5TtRXfG/v6jeadNMVjlqsZquG0uwU164ybg2vFuPuh2ax23tkm3N91VLwmbjVNvPT+H7Ro4730ITNPAAAAAElFTkSuQmCC);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 3;
  }

.Cloud.flipped {
    transform: scaleX(-1);
}
  
.Cloud.Background {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEoAAAAqCAYAAAAUJM0rAAACFUlEQVRo3u3aPSwDYRzH8UZEbAYiYrDYjLZGpIPBJLGwSKwi0k1iYBKDdFJsEiMxSZgsFZJGiGjqJWEhSKuaNKRUG8r5PfI8SXOud72+PH2eu2f47Ndv7+V5/nee/G6bh5MWmIV9iEMWvkGjfiADD7AHk9BU6+PSNK0kPAINwwXkC6KU6gvC4HVyKB/clhHHCDnbTqHbSaEaYIv+OK3KyBk274RQrXBXg0B6B/QPkTIUiZTiEIm5gkbZQjXTJ5nG2ZFsocJ1iMQEZQk1VcdIGl2L9Yoeitwj3uocirgRPVRAgEjMoMihkgKFStIzK063QVHYhKF6h/IKFMlKGpaNlhM8Qq1JFIp5gQHeoSIShmJPST/PUElJQ7FN9hivUGmJQxE56OQRKiN5qL/NNY9QKQeEIpdgR7VC9cEqHeGeUyEHXHrMUiWhyKx6BV4dEsNMtNxQI4Ls33h5LidUoEYjXKEXoXZDLbgsEBOzE8qne8fmJhE7oWIujUQcwhyMmy0VSKRRF0cyWlclYMYo1LEKZOgRugpDpVWUot5ZLI8LlwN23bNQKoY1vwpVmmsS6kOFsPRJQl2qENZIqGkVwnp9xb5nUksEcxm2hZlQMcy3OYXTgx0VpOi2pl8/jwqpMP9sF5twBl08ctE7I/dws5l5D5y4OBj51HvdzluYdlik0RL06cjkKpSlB1Span5x/AQb5Hfrxyy/oU5ISeVw53AAAAAASUVORK5CYII=);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 3;
 }

.tiny {
    width: 20px;
    height: 10px;
}

.small {
    width: 30px;
    height: 15px;
}

.medium {
    width:  50px;
    height: 25px;
}

.big {
    width: 80px;
    height: 40px;
}

/* UFO Style */
.ufo {
    width: 30px;
    height: 15px;
    background-color: gray;
    border-radius: 25px 25px 0 0; /* Semi-circle at the top */
    position: relative;
    animation: moveUFO 10s linear infinite; /* Animation to move */
}

.ufo::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 70%;
    height: 50%;
    background-color: lightgray;
    border-radius: 50%;
}

/* Bird Style */
.bird {
    width: 5px;
    height: 5px;
    background-color: black;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%); /* Triangle for bird look */
}

/* Plane Style */
.plane {
    width: 10px;
    height: 5px;
    background-color: blue;
    position: relative;
}

.plane::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid blue; /* Triangle for the nose of the plane */
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Animation for UFO moving vertically */
@keyframes moveUFO {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(0);
    }
}

/* Animation for bird moving */
@keyframes moveBird {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100vw); /* Move all the way to the right */
    }
}

/* Animation for plane moving */
@keyframes movePlane {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100vw); /* Move all the way to the left */
    }
}